.doctor-card{
    width:400px;
    height:350px;
    background-color: #f5f5f5;
    color: #3c66b4;
    font-weight: bold;
    margin: 20px;
}
.doctor-list{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.doctor-list-container{
    background-color: rgba(74, 141, 212,0.5);
}
.doctor-details-button{
    background-color: #628edf;
    font-weight: bold;
    width:50%;
    margin-left: 25%;
}
.doctor-details-button:hover{
    background-color: rgb(45, 108, 157);
}
#doctor-team-mainheading{
    color: rgb(23, 67, 121);
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
}