#user-dashboard {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(74, 141, 212,0.7);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  #dashboard-head,#appointment-head{
    color:rgb(255, 255, 255)
  }
  .success-message {
    color: rgb(3, 68, 100);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  #dash-logout{
    background-color: rgb(141, 21, 21);
    width:200px;
    margin-left: 10px;
  }
  #dash-logout:hover{
    background-color: rgb(168, 28, 28);
  }
  #book-appointment{
    background-color: rgb(31, 129, 195);
    width:200px;
  }
  #book-appointment:hover{
    background-color: rgb(83, 123, 183);
  }
  .error-message {
    color: rgb(244, 114, 114);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  

  #user-info {
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
  }
  
  .user-name {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  
  .user-details {
    font-size: 18px;
    color:rgb(255, 255, 255);
    margin: 5px 0;
  }
  
  #loading-message {
    font-size: 18px;
    color: #ffffff;
    margin-top: 20px;
    font-style: italic;
  }
  